<footer>
  <span
    >Made with<img
      src="./../../../assets/img/chair.png"
      alt="Stuhl"
      data-tooltip="{ 'offset': 10, 'class': 'alt-tooltip' }"
      title="Stuhl" />by<img
      src="http://cravatar.eu/helmhead/alberteistein/64.png"
      alt="alberteistein"
      data-tooltip="{ 'offset': 10, 'class': 'alt-tooltip' }"
      title="alberteistein"
  /></span>
  <span
    ><a routerLink="/privacy">Datenschutzerklärung</a> •
    <a href="https://github.com/HandelshafenHarzreichen/Website" target="_blank"
      >Source</a
    >
  </span>
</footer>
