<div class="body">
  <h1 class="header">
    Der Orden des Stuhls <span>{{ splash }}</span>
  </h1>

  <img class="header-image" src="./../../assets/img/ordenMainstreet.png" />

  <div class="gradient-box"></div>

  <div class="page0">
    <img class="banner" src="./../../assets/img/ordenBanner.png" />

    <div class="page0-text">
      <h2 class="page0-text1">Über Uns</h2>

      <p class="page0-text2">
        Wir sind der Orden des Stuhls, eine mittelalterliche Gemeinschaft mit
        dem Ziel, eine wundervolle und zugleich mächtige Stadt zu errichten.
        Aktuell umfassen wir 12 Mitglieder und nehmen gerne weitere auf.
      </p>
    </div>
  </div>

  <div class="page1">
    <div class="Discord">
      <a href="https://discord.gg/85ce9WSJmX">DISCORD</a>
    </div>

    <div class="Discord">
      <a href="https://discord.gg/pNpxW4yVjZ">DISCORD</a>
    </div>

    <div class="Discord">
      <a href="https://discord.gg/85ce9WSJmX">DISCORD</a>
    </div>
  </div>
  <a class="privacy" routerLink="/privacy">Datenschutzerklärung</a>
</div>

<!--<body>
  <header>
    <h1>Der Orden des Stuhls</h1>
  </header>

  <div class="about">
    <img src="" />

    <div>
      <h2>Über Uns</h2>
      <p>
        Wir sind der Orden des Stuhls, eine mittelalterliche Gemeinschaft mit
        dem Ziel, eine wundervolle und zugleich mächtige Stadt zu errichten.
        Aktuell umfassen wir 12 Mitglieder und nehmen gerne weitere auf.
      </p>
    </div>
  </div>

  <div class="discord">
    <div>
      <a href="https://discord.gg/85ce9WSJmX">DISCORD</a>
    </div>

    <div>
      <a href="https://discord.gg/85ce9WSJmX">DISCORD</a>
    </div>

    <div>
      <a href="https://discord.gg/85ce9WSJmX">DISCORD</a>
    </div>
  </div>
</body>-->
