/* VARIABLES */
/* @import "styles/_variables.scss"; */

:root {
  /* colors */
  --text-100: #fefdfb;
  --text-200: #c2c2c2;
  --accent-100: #644233;
  --background-100: #271c17;
  --background-200: #201713;
  --background-300: #11100e;
  --background-400: #0e0a09;
  --splash-100: #fefe00;
  --primary-100: #c87e1e;
  --secondary-100: #d73838;

  /* shadows */
  --text-shadow-A20: 2px 2px #1a1919;
  --splash-shadow-A20: 2px 2px #3d3d00;
}
